<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awareness Campaigns</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style5_part2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

      
</head>

<body class="body">
    <div class="container">
        <div class="top">
            <img class="cover"
                src="https://thumbs.dreamstime.com/z/rural-education-ngo-activities-teaching-young-indian-children-india-outdoors-temporary-classroom-boards-child-literacy-50806157.jpg?w=992"
                alt="">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            About Us
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="/ourstory">Our story</a>
                            <a class="dropdown-item" href="#">Our Team</a>
                            <a class="dropdown-item" href="#">Inspiration</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/vision">vision & mission</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/gallary">Gallary</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/activity">Activities</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#contactusfooter">Contact Us</a>
                        </li>
                      </ul>
                        <ul class="navbar-nav ml-auto donate_btn">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Donate
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Education</a>
                            <a class="dropdown-item" href="#">Health</a>
                          </div>
                        </li>
                      </ul>
                    </div>  
                  </nav>
            <h2 class="title">Awareness Campaigns</h2>
            <p class="dis">Awareness Campaigns helps to educate the public about child rights and issues. Through media,
                workshops, and social media, they aim to change attitudes and behaviors, leading to better protection
                and support for children.</p>
        </div>

        <div class="content_right">
            <img class="img_width img_left" src="https://thumbs.dreamstime.com/b/gathering-mother-their-child-ngo-clinic-to-see-doctor-kolkata-parganas-s-india-th-january-young-mothers-under-five-130304450.jpg?w=768"
                alt="">
            <div class="describe">
                <h3>Children Health Campaign</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quis, delectus tempora magni
                    tenetur,
                    facilis cupiditate perferendis eaque asperiores ad, eveniet beatae ipsa. Eligendi incidunt dolorem
                    corrupti. Voluptatum ullam nisi deleniti, officiis aliquam accusantium! Et ullam doloribus iure fuga
                    veritatis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste doloremque ea et repellat nobis
                    praesentium! Repellat saepe repudiandae voluptates beatae.</p>
            </div>
        </div>

        <div class="content_left">
            <div class="describe">
                <h3>Green Campaign</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quis, delectus tempora magni
                    tenetur,
                    facilis cupiditate perferendis eaque asperiores ad, eveniet beatae ipsa. Eligendi incidunt dolorem
                    corrupti. Voluptatum ullam nisi deleniti, officiis aliquam accusantium! Et ullam doloribus iure fuga
                    veritatis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste doloremque ea et repellat nobis
                    praesentium! Repellat saepe repudiandae voluptates beatae.</p>
            </div>
            <img class="img_width img_right" src="https://thumbs.dreamstime.com/b/green-campaign-environmental-awareness-ncc-girls-planting-young-tree-world-environment-day-41888734.jpg?w=768"
                alt="">

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awareness Campaigns</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style5_part2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

      
</head>

<body class="body">
  <div class="navbar_top">
    <marquee>
      <p>Become a volunteer- <a style="color: orange;" href="/join">click here</a>  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  Give Feedback-<a style="color: orange;" href="https://docs.google.com/forms/d/e/1FAIpQLScprsI5QF0_yA7OsuCdbkZdvoxRwl_R_2dIM-cCpHeDN3sqQQ/viewform?usp=sf_link">click here</a>     </p>
                           
    </marquee>
        <div class="navbar1">
          <div class="logo">
            <img src="https://ngodarpan.gov.in/assets/images/ngo.png" alt="">
          </div>
          <div class="org_sec2">
            <div class="org_sec">
              <p class="org">Happy day foundation </p>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-md  navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  About Us
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/ourstory">Our story</a>
                  <a class="dropdown-item" href="#">Our Team</a>
                  <a class="dropdown-item" href="#">Inspiration</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vision">vision & mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallary">Gallary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactusfooter">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto donate_btn">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Donate
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/donate">Education</a>
                  <a class="dropdown-item" href="#">Health</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    <div class="container">
        <div class="top">
            <img class="cover"
                src="https://thumbs.dreamstime.com/z/rural-education-ngo-activities-teaching-young-indian-children-india-outdoors-temporary-classroom-boards-child-literacy-50806157.jpg?w=992"
                alt="">
                
            <h2 class="title">Awareness Campaigns</h2>
            <p class="dis">Awareness Campaigns helps to educate the public about child rights and issues. Through media,
                workshops, and social media, they aim to change attitudes and behaviors, leading to better protection
                and support for children.</p>
        </div>

        <div class="content_right">
            <img class="img_width img_left" src="https://thumbs.dreamstime.com/b/gathering-mother-their-child-ngo-clinic-to-see-doctor-kolkata-parganas-s-india-th-january-young-mothers-under-five-130304450.jpg?w=768"
                alt="">
            <div class="describe">
                <h3>Children Health Campaign</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quis, delectus tempora magni
                    tenetur,
                    facilis cupiditate perferendis eaque asperiores ad, eveniet beatae ipsa. Eligendi incidunt dolorem
                    corrupti. Voluptatum ullam nisi deleniti, officiis aliquam accusantium! Et ullam doloribus iure fuga
                    veritatis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste doloremque ea et repellat nobis
                    praesentium! Repellat saepe repudiandae voluptates beatae.</p>
            </div>
        </div>

        <div class="content_left">
            <div class="describe">
                <h3>Green Campaign</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quis, delectus tempora magni
                    tenetur,
                    facilis cupiditate perferendis eaque asperiores ad, eveniet beatae ipsa. Eligendi incidunt dolorem
                    corrupti. Voluptatum ullam nisi deleniti, officiis aliquam accusantium! Et ullam doloribus iure fuga
                    veritatis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste doloremque ea et repellat nobis
                    praesentium! Repellat saepe repudiandae voluptates beatae.</p>
            </div>
            <img class="img_width img_right" src="https://thumbs.dreamstime.com/b/green-campaign-environmental-awareness-ncc-girls-planting-young-tree-world-environment-day-41888734.jpg?w=768"
                alt="">

        </div>
      

        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner glims">
            <div class="carousel-item active" >
              <img src="/css/awareness_glims_img2.jpg" class="d-block w-100 glims-img " alt="..." >
            </div>
            <div class="carousel-item ">
              <img src="/css/awareness_glims_img1.jpg" class="d-block w-100 glims-img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/css/awareness_glims_img3.jpg" class="d-block w-100 glims-img " alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>

    <footer>
      <div>
        <div class="follow">
          <div class="row11">
            <div class="fcol1">
              <div class="flw">
                <h2>Follow us on</p>
                </h2>
                <ul>
                  <li>
                    <a href="https://www.instagram.com/smilefoundationindia/">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/smilefoundationindia.org">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/smilefoundation">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a style="color: aliceblue;" href="https://www.linkedin.com/company/smile-foundation">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/user/tubeforchange">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="fcol2" id="contactusfooter">
              <div class="col2_txt">
                <div class="supporttitle">
                  <h2>Support us</h2>
                </div>
                <div class="support">
                  <ul class="nav navbar-nav navbar-right outerbtn footer_donate">
                  
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Donate
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/donate">Education</a>
                        <a class="dropdown-item" href="/donate">Health</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="fcol3">
              <ul class="con">
                <li>Contact us</li>
           
                <br>
                <li>Lorem ipsum <br>dolor sit amet, consectetur adipisicing elit. Sit <br> possimus laborum nam architecto
                  culpa quibusdam <br> ducimus magnam dicta maxime hic!</li>
                <br>
                <li>
                  <i class="fa fa-whatsapp mr-3" aria-hidden="true"></i>
                  <a href="/">+91 9999999999</a>
                </li>
                <li>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="/">abc@gmail.com</a>
                </li>
                <li>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="/">main@gmail.com</a>
                </li>
                <br>
                <li>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <a href="/">+91 8876678568</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
       
        <div class="backtop">
          <a href="#">Back to top</a>
          <i class="fa fa-angle-up"></i>
        </div>
      </div>
      <div class="row2">
        <p class="copyright">© Copyright 2023 swapnil. All rights reserved</p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- Add these script tags to include GSAP and ScrollTrigger -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/ScrollTrigger.min.js"></script>

<script src="/css/script4.js"></script>
  
</body>

</html>