<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style_6_tq.css">
    <link rel="stylesheet" href="/css/style_6_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="navbar_top">
      <marquee>
        <p>Become a volunteer- <a style="color: orange;" href="/join">click here</a>  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  Give Feedback-<a style="color: orange;" href="https://docs.google.com/forms/d/e/1FAIpQLScprsI5QF0_yA7OsuCdbkZdvoxRwl_R_2dIM-cCpHeDN3sqQQ/viewform?usp=sf_link">click here</a>     </p>
                             
      </marquee>
        <div class="navbar1">
          <div class="logo">
            <img src="https://ngodarpan.gov.in/assets/images/ngo.png" alt="">
          </div>
          <div class="org_sec2">
            <div class="org_sec">
              <p class="org">Happy day foundation </p>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-md  navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  About Us
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/ourstory">Our story</a>
                  <a class="dropdown-item" href="/ourstory">Our Team</a>
                  <a class="dropdown-item" href="/ourstory">Inspiration</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vision">vision & mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactusfooter">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto donate_btn">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Donate
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/donate">Education</a>
                  <a class="dropdown-item" href="/donate">Health</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="thankyouBody">
    
        
              <div class="col-md-12 text-center">
                <h5 class="animate-charcter"> Thank You for Your Donation</h3>
               </div> 
              <p></p>
            <p class="donationDetails">User Name: </p>
          
            <p class="donationDetails">Donation Amount: INR</p>

  
    <!-- <button id="downloadPdfButton">Download PDF</button> -->
    <button id="downloadPdfButton" type="button" class="btn btn-outline-success">Download Donation Receipt</button>

    <script>
        // Extract user name and donation amount from the URL query parameters
        const urlParams = new URLSearchParams(window.location.search);
        const userName = urlParams.get('userName');
        const donationAmount = urlParams.get('donationAmount');

        // Populate the placeholders with the extracted values
        document.querySelector('p:nth-of-type(2)').textContent = 'User Name: ' + userName;
        // document.querySelector('p:nth-of-type(2)').style.fontWeight = 'bold'; // Example CSS property
        document.querySelector('p:nth-of-type(3)').textContent = 'Donation Amount: ' + donationAmount + ' INR';

        // Access the values from the placeholders and construct the URL for downloading the PDF
        document.getElementById('downloadPdfButton').addEventListener('click', function() {
            window.location.href = `/generatePDF?userName=${userName}&donationAmount=${donationAmount}`;
        });
    </script> 
        
    
     </div>
    <footer>
        <div class="container">
          <div class="follow">
            <div class="row">
              <div class="fcol1">
                <div class="flw">
                  <h2>Follow us on</p>
                  </h2>
                  <ul>
                    <li>
                      <a href="https://www.instagram.com/smilefoundationindia/">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/smilefoundationindia.org">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/smilefoundation">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a style="color: aliceblue;" href="https://www.linkedin.com/company/smile-foundation">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/user/tubeforchange">
                        <i class="fa fa-youtube-play"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="fcol2" id="contactusfooter">
                <div class="col2_txt">
                  <div class="supporttitle">
                    <h2>Support us</h2>
                  </div>
                  <div class="support">
                    <ul class="nav navbar-nav navbar-right outerbtn footer_donate">
                       <li class="dropdown donate">
                            <a class="dropdown-toggle jjj" data-toggle="dropdown" href="#">Donate
                              <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="index.html">Education</a></li>
                              <li><a href="index.html">Health</a></li>
                            </ul>
                          </li> 
                      <!-- <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                          Donate
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Education</a>
                          <a class="dropdown-item" href="#">Health</a>
                        </div>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="fcol3">
                <ul class="con">
                  <li>Contact us</li>
                 
                  <br>
                  <li>Lorem ipsum <br>dolor sit amet, consectetur adipisicing elit. Sit <br> possimus laborum nam architecto
                    culpa quibusdam <br> ducimus magnam dicta maxime hic!</li>
                  <br>
                  <li>
                    <i class="fa fa-whatsapp mr-3" aria-hidden="true"></i>
                    <a href="/">+91 9999999999</a>
                  </li>
                  <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <a href="/">abc@gmail.com</a>
                  </li>
                  <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <a href="/">main@gmail.com</a>
                  </li>
                  <br>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a href="/">+91 8876678568</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="backtop">
            <a href="#slider">Back to top</a>
            <i class="fa fa-angle-up"></i>
          </div>
        </div>
        <div class="row2">
          <p class="copyright">© Copyright 2023 swapnil. All rights reserved</p>
        </div>
      </footer>
</body>
</html>