<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Website Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style3.css">
</head>
<body>
  <div class="navbar_top">
    <marquee>
    Become a volunteer- <a href="/join">click here</a>
    </marquee>
        <div class="navbar1">
          <div class="logo">
            <img src="https://ngodarpan.gov.in/assets/images/ngo.png" alt="">
          </div>
          <div class="org_sec2">
            <div class="org_sec">
              <p class="org">Happy day foundation </p>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-md  navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  About Us
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/ourstory">Our story</a>
                  <a class="dropdown-item" href="#">Our Team</a>
                  <a class="dropdown-item" href="#">Inspiration</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vision">vision & mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallary">Gallary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactusfooter">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto donate_btn">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Donate
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/donate">Education</a>
                  <a class="dropdown-item" href="#">Health</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
        <div class="BackgroundImages">
          <img src="/css/img2.jpg" alt="">
        </div>
       <div class="vissionmission">
        <div class="vission">
            <h4>Vision</h4> <br>
            <h2>
                 We believe in creating an 
                 equitable society by
                 collaborating with vulnerable 
                 communities.
            </h2>
        </div>
        <div class="mission">
          <h4>Mission</h4> <br>
            <h3>
                  To design and implement education and art 
                  projects in the area of knowledge and livelihood.  
             </h3>
        </div>
        </div>
        <main class="content">
            <section>
                <div class="lang-image float-right">
                    <img src="/css/s1.jpg" alt="html image">
                </div>
                <article>
                    <h1>Supporting Education:</h1>
                    <br>
                    <h3>
                        Our education projects are focused on developing 21st-century life skills in students 
                        by providing them with vibrant experiences through research projects or capacity building workshops. 
                        Our focus is to work towards Sustainable Development Goal 4 (Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all). 
                        It overall contributes to basic education, democracy, facilitating lifelong learning, improving quality of life and promotion of peace.
                    </h3>
                </article>
            </section>
            <section>
                <div class="lang-image float-left">
                    <img src="/css/s3.jpg" alt="html image">
                </div>
                <article>
                    <h1>Creating Livelihood:</h1>
                    <br>
                    <h3>
                        We do this through initiatives that equip village youths, women, 
                        artisans and other stakeholders with digital skills, financial literacy and 
                        marketing techniques, equitable participation, technological support, vocational training, and the implementation of innovative best practices.
                        Capacity development needs a special focus on simultaneously building life skills and vocational skills in the young adults of the hill region. 
                        This will safeguard the Himalayan state against excessive migration and uprooting of the social fabric.
                    </h3>
                </article>
            </section>
            <section>
                <div class="lang-image float-right">
                    <img src="/css/s2.jpg" alt="html image">
                </div>
                <article>
                    <h1>TayyariKalKi:</h1>
                    <br>
                    <h3>
                        A secure livelihood helps people get out of poverty. While employability has always been a challenge for the under-privileged, 
                        the pandemic followed by job losses and massive pay-cuts further pushed them into destitution.
                        The effect of the pandemic on the livelihoods of people belonging to the lesser privileged sections has been profound and long lasting.  
                        Smile Foundation, recognizing the need of the hour has reprogrammed its employability training initiative 'STeP' to fight the challenges posed by poverty and unemployment.
                    </h3>
                </article>
            </section>
            <br>
            <div class="Message">
            </div>
        </main>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style3.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
</head>
<body>
    <div class="navbar_top">
      <marquee>
        <p>Become a volunteer- <a style="color: orange;" href="/join">click here</a>  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  Give Feedback-<a style="color: orange;" href="https://docs.google.com/forms/d/e/1FAIpQLScprsI5QF0_yA7OsuCdbkZdvoxRwl_R_2dIM-cCpHeDN3sqQQ/viewform?usp=sf_link">click here</a>     </p>
                             
      </marquee>
        <div class="navbar1">
          <div class="logo">
            <img src="https://ngodarpan.gov.in/assets/images/ngo.png" alt="">
          </div>
          <div class="org_sec2">
            <div class="org_sec">
              <p class="org">Happy day foundation </p>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-md  navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  About Us
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/ourstory">Our story</a>
                  <a class="dropdown-item" href="/ourstory">Our Team</a>
                  <a class="dropdown-item" href="/ourstory">Inspiration</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vision">vision & mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallary">Gallary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactusfooter">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto donate_btn">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Donate
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/donate">Education</a>
                  <a class="dropdown-item" href="/donate">Health</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    <div class="BackgroundImages">
    </div>
    <div class="vission">
        <h1>Vision</h1>
          <img src="/css/vission.png" alt="">
          <p class="P1">
            1.)Equitable Society: Creating an equitable society by collaborating with vulnerable communities.
            <br>
            2.)Inclusivity: Fostering inclusivity and equal opportunities for all members of society.
            <br>
            3.)Empowerment: Empowering individuals and communities to reach their full potential.
            <br>
            4.)Social Impact: Striving for positive and lasting social impact through sustainable initiatives.
            <br>
            5.)Collaboration: Collaborating with diverse stakeholders to address societal challenges.
            <br>
          </p>     
    </div>
    <div class="mission">
      <h1>Mission</h1>
        <img src="/css/Mission.jpeg" alt="">
        <p class="P2">
          1.)Education and Art: Designing and implementing education and art projects to enhance knowledge.
          <br>
          2.)21st-Century Skills: Focusing on developing 21st-century life skills in students through vibrant experiences.
          <br>
          3.)Sustainable Development: Working towards SDG 4, ensuring inclusive and equitable quality education.
          <br>
          4.)Community Development: Contributing to basic education, democracy, lifelong learning.
          <br>
          5.)Livelihood Initiatives: Equipping individuals with digital skills, financial literacy, and vocational training . 
          <br>
        </p>
    </div>
    <!-- <h2>Supporting Education:</h2> -->
    <h2 class="N1">Supporting Education:</h2>
    <br>
    <div class="sec1">
    <p class="inf">
        Our education projects are focused on developing 21st-century life skills in students 
        by providing them with vibrant experiences through research projects or capacity building workshops. 
        Our focus is to work towards Sustainable Development Goal 4 (Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all). 
        It overall contributes to basic education, democracy, facilitating lifelong learning, improving quality of life and promotion of peace.
    </p>
        <img src="/css/s1.jpg" alt="">
    </div>
    <!-- <h2>Creating Livelihood:</h2> -->
    <h2 class="N1">Creating Livelihood:</h2>
    <br>
    <div class="sec2">
        <img src="/css/s3.jpg" alt="">
        <p class="inf">
            We do this through initiatives that equip village youths, women, 
            artisans and other stakeholders with digital skills, financial literacy and 
            marketing techniques, equitable participation, technological support, vocational training, and the implementation of innovative best practices.
            Capacity development needs a special focus on simultaneously building life skills and vocational skills in the young adults of the hill region. 
            This will safeguard the Himalayan state against excessive migration and uprooting of the social fabric.
        </p>
    </div>
    <!-- <h2>TayyariKalKi:</h2> -->
    <h2 class="N1">TayyariKalKi:</h2>
    <br>
    <div class="sec3">
        <p class="inf">
            A secure livelihood helps people get out of poverty. While employability has always been a challenge for the under-privileged, 
            the pandemic followed by job losses and massive pay-cuts further pushed them into destitution.
            The effect of the pandemic on the livelihoods of people belonging to the lesser privileged sections has been profound and long lasting.  
            Smile Foundation, recognizing the need of the hour has reprogrammed its employability training initiative 'STeP' to fight the challenges posed by poverty and unemployment.
            21st-Century Skills: Focusing on developing 21st-century life skills in students through vibrant experiences.
        </p>
        <img src="/css/s2.jpg" alt="">
    </div>
    <footer>
      <div>
        <div class="follow">
          <div class="row11">
            <div class="fcol1">
              <div class="flw">
                <h2>Follow us on
                </h2>
                <ul>
                  <li>
                    <a href="https://www.instagram.com/smilefoundationindia/">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/smilefoundationindia.org">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/smilefoundation">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a style="color: aliceblue;" href="https://www.linkedin.com/company/smile-foundation">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/user/tubeforchange">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="fcol2" id="contactusfooter">
              <div class="col2_txt">
                <div class="supporttitle">
                  <h2>Support us</h2>
                </div>
                <div class="support">
                  <ul class="nav navbar-nav navbar-right outerbtn footer_donate">
                  
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Donate
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/donate">Education</a>
                        <a class="dropdown-item" href="/donate">Health</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="fcol3">
              <ul class="con">
                <li>Contact us</li>
           
                <br>
                <li>Lorem ipsum <br>dolor sit amet, consectetur adipisicing elit. Sit <br> possimus laborum nam architecto
                  culpa quibusdam <br> ducimus magnam dicta maxime hic!</li>
                <br>
                <li>
                  <i class="fa fa-whatsapp mr-3" aria-hidden="true"></i>
                  <a href="/">+91 9999999999</a>
                </li>
                <li>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="/">abc@gmail.com</a>
                </li>
                <li>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="/">main@gmail.com</a>
                </li>
                <br>
                <li>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <a href="/">+91 8876678568</a>
                </li>
              </ul>
            </div>
            </div>
          </div>
       
        <div class="backtop">
          <a href="#">Back to top</a>
          <i class="fa fa-angle-up"></i>
        </div>
      </div>
      <div class="row2">
        <p class="copyright">© Copyright 2023 swapnil. All rights reserved</p>
      </div>
    </footer>
</body>
</html>