

.container {
    background-color: #f2f4f5;

}
.navbar-nav li{
    margin-left: 20px;
}
marquee{
    direction:"right";
      behavior:"alternate";
      margin-bottom: -7px;
      border:none;
     /* background-color: #697582; */
     background-color: #1e88e5;
     color: white;
     font-size: 1.3rem;
     height: 30px;
}
.collapse li:hover{
    font-size: 1.2rem;
    /* background: #ddd;
  color: black; */
}
.navbar_top{
    position: fixed;
    top: 0;
    width: 100%;
    /* margin-bottom: 6px; */
    z-index: 10;
}

.navbar1{
    max-width:100%;
    /* width: 100%; */
    height:80px;
    /* position: relative; */
    top: 0px;
    /* background-color: navajowhite; */
    background-color: #e7e9ec;
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}
.logo img{
    width: 100%;
    height: 100%;
}
.org_sec2{
    /* margin-left: 40px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.org_sec{
    display: flex;
    align-items: center;
    justify-content: center;
}
.org_sec>img{
    width: 61px;
    height: 53px;
}
.org{
    margin-left: 20px;
    font-size: 3rem;
    font-family: math;
}
@media(min-width:300px) and (max-width:500px){
    .logo{
        display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 10px;
    width: 70px;
    height: 50px;
    }
    .org{
        margin-left: 20px;
        font-size: 1.4rem;
        font-family: math;
    }
    .org_sec2{
        margin-left: 35px;
    }
}
@media(min-width:500px) and (max-width:650px){
    .org{
        font-size: 2rem;
        font-family: math;
    }
}
@media(max-width:300px){
    .logo{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: 0;
    top: 11px;
    height: 37px;
    width: 51px;
    }
    .org{
        font-size: 1.2rem;
        font-family: math;
    }
}
.navbar{
    background-color: #3379f2;
}
/* .Header{
    position: relative;
    top: -16px;
    width: 100%;
    height: 100px;
    background-color: aqua;
} */
.donate_btn {
    display: flex;
    /* background-color: mediumblue; */
    background-color: #ff6600;
    border-radius: 10px;
    padding: 2px 6px;
}
.donate_btn li .dropdown-toggle {
color: white;
}
 @media(max-width=765px){
    .donate_btn:hover{
        
        width: 100%;
        transition: width 15s ease-in;
    }
}
@media(min-width=765px){
.donate_btn:hover{
    /* font-size: 20px; */
    /* box-shadow: 0 12px 16px 0 rgba(60, 21, 203, 0.24), 0 17px 50px 0 rgba(213, 55, 174, 0.19); */
    
    width: 150px;
    transition: width 15s ease-in;
}
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 500px;
    margin-top: 10%;
}

.cover {

    object-fit: cover;
    width: 100%;
    height: 500px !important; 
    position: absolute;
    top: 18%;
    left: 0%;
    opacity: 0.9;
}



.title {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    color: white;
    /* z-index: 11; */
    position: absolute;
    top: 25%;
    left: 40%;

}

.dis {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: x-large;
    position: absolute;
    top: 35%;
    left: 0%;
}

.content_right {
    display: grid;
    grid-template-areas: 'img describe'
    'img describe';
    padding: 5% 7%;
    margin: 7% 7%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;

}
.content_left{
    display: grid;
    grid-template-areas: 'img describe'
    'img describe';
    padding: 5% 7%;
    margin: 7% 7%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.img_width {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    height:fit-content;
}
.img_left{
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
.img_right{
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.describe {
    grid-area: describe;
    /* display: flex;
    flex-direction: column;
    flex-wrap:wrap; */
    color: black;
    width: 100%;
    padding: 2% 3%;
    margin: 2% 10%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}



.content_left:hover {
    /* background-color: #d2c6fc; */
    background-color: #eef5f9;
    
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);

    .describe {
        transform: scale(1.1);
        transition: transform 0.1s ease-in-out 0.1s;
    }
    .img_width{
        transform: scale(1.03);
        transition: transform 0.1s ease-in-out 0.1s;
    }
    
    transition: background-color 0.1s ease-in-out 0.1s;
}
.content_right:hover {
    /* background-color: #d2c6fc; */
    background-color: #eef5f9;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);

    .describe {
        transform: scale(1.1);
        transition: transform 0.1s ease-in-out 0.1s;
    }
    .img_width{
        transform: scale(1.03);
        transition: transform 0.1s ease-in-out 0.1s;
    }
   
    transition: background-color 0.1s ease-in-out 0.1s;
}

.glims {
    object-fit: cover;
    width: 100%;
    height:400px !important;
}
.glims-img{
    object-fit: cover;
    width: 100%;
    height: 400px; 
}


@media(max-width:768px) {
    .title {
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-align: center;
        color: white;
        /* z-index: 11; */
        position: absolute;
        top: 28%;
        left: 35%;
    
    }
    
    .dis {
        text-align: center;
        color: white;
        font-weight: 500;
        font-size: x-large;
        position: absolute;
        top: 37%;
        left: 0%;
    }
    .content_left {
        display:grid;
        grid-template-areas: 'img img'
        'describe describe';
    }
    .content_right {
        display:grid;
        grid-template-areas: 'img img'
        'describe describe';
    }
    


}
@media(max-width:426px) {
    .title {
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-align: center;
        color: white;
        /* z-index: 11; */
        position: absolute;
        top: 25%;
        left: 20%;
    
    }
    
    .dis {
        text-align: center;
        color: white;
        font-weight: 500;
        font-size:larger;
        position: absolute;
        top: 40%;
        left: 0%;
    }
    .describe {
        grid-area: describe;
        /* display: flex;
        flex-direction: column;
        flex-wrap:wrap; */
        color: black;
        width: 100%;
        padding: 15% 3%;
        margin: 2% 10%;
    }
    .content_right {
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
    
    }
    .content_left{
        border-top-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
    


}



/* footer */

.follow{
    display: flex;
    justify-content: center;
    /* background-color: #e1e1e1; */
    height: 90%;

    color: white;
}
.row11{
    display: flex;
    font-size: 1.2rem;
}
.fcol1 {
    /* padding: 40px;
    width: 500px; */
    padding: 40px 2px 0 2px;
}
.fcol2{
    /* padding: 40px;
    width: 420px; */
    padding: 40px 2px 0 2px;
}
.fcol1 li{
    display: inline-block;
    padding: 4px;
    font-size: 23px;
}
.fcol1 ul{
    position: relative;
    left: -30px;
    /* display: flex; */
    /* width: 250px; */
    width: 100%;
}
.flw{
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
    width: 100%;
    align-items: center;
}
.flw ul li a{
    color: white;
}
.con li a,i{
    color: white;
}
@media(max-width:1200px){
    .row11{
        display: flex;
        flex-direction: column;
    }
    .flw h2{
        text-align: center;
    }
    .fcol1 ul{
        position: relative;
        text-align: center;
        width: 100%;
    }
    .con{
        text-align: center;
    }
}
  footer{
    height: 100%;
    /* background-color: #000; */
    background-color: #1155CC;
    padding-top: 50px;
  }
  @media (min-width:1200px){
    .col2_txt{
        display: flex;
        flex-direction: column;
        width: 400px;
        align-items: center;
      }
  }
  .col2_txt{
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    align-items: center;
  }
  
  .fcol3{
    /* padding: 40px; */
    padding: 40px 2px 0 2px;
    /* font-size: 16px; */
  }
  .con{
    list-style: none;
    font-size: 1.3rem;
    position: relative;
    left: -20px;
  }
  /* .donate{
    font-size: 18px;
    background-color: aliceblue;
  } */
  /* .outerbtn{
   display: flex;
   justify-content: center;
  } */
  .flw>li{
    font-size: 20px;
  }
  .backtop{
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: bebas_neueregular;
    letter-spacing: 1px;
    font-size: 18px;
  }
  .support{
    font-size: 16px;
    /* background-color: mediumblue; */
    background-color: #ff6600;
    border-radius: 10px;
    padding: 2px 6px;
    /* color: white; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .support li .dropdown-toggle {
    color: white;
  }
  .support:hover{
    /* font-size: 20px; */
    /* box-shadow: 0 12px 16px 0 rgba(60, 21, 203, 0.24), 0 17px 50px 0 rgba(213, 55, 174, 0.19); */
    width: 7rem;
    transition: width 15s ease-in;
}
  .supporttitle{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .backtop a{
    color: white;
  }
  /* .footer_donate{
    background-color: #ff6600;
  } */
  .copyright{
    text-align: center;
    color: white;
  }



